body {
    background-color: teal;
}

.gridRow {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px 0px;
}

.cell {
    border: 2px solid black;
    width: 10px;
    height: 10px;
}

/* .cell:hover{
    background-color: white; 
    border: 2px solid yellow;
}

.cellHover {
    background-color: white; 
    border: 2px solid yellow;
}*/

#newBtn {
    padding: 10px;
    color: blue;
    border: 10px solid white;
    background-color: white;
    margin: 10px 10px;
}